{% extends 'base.html.twig' %}

{% block title %}Connecte-toi !{% endblock %}

{% block body %}
    <div class="container register text-center text-primary pt-3 bg-secondary-subtle rounded-2 text-center text-primary my-3 my-sm-5">
        <form action="{{ path('app_login') }}" method="post" class="py-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row xs-vw-90">
                <h1 class="col-10 offset-1 col-sm-6 offset-sm-3 h3 font-weight-normal py-sm-3">Connecte-toi pour participer à la vie de la communauté !</h1>
            </div>
            <div class="row xs-vw-90">
                <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                    <div class="container border border-primary-subtle py-sm-5">
                        <div class="row my-3">
                            <div class="col-12 col-sm-8 offset-sm-2">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-50" autocomplete="email" required autofocus>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 col-sm-8 offset-sm-2">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control w-50" autocomplete="current-password" required>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 col-sm-8 offset-sm-2 fs-5">
                                <a href="{{ path('app_reset_password') }}">Mot de passe oublié ?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8 offset-sm-2 fs-5">
                                <a href="{{ path('app_register') }}">S'inscrire</a>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button class="btn btn-lg btn-primary my-3" type="submit">
                            Se connecter
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
