{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container register text-center text-primary pt-3 bg-secondary-subtle rounded-2 text-center text-primary my-3 my-sm-5">
        <div class="row h3">
            <div class="col my-3">
                <h1 class="h3">Saisissez ici votre nouveau de mot de passe.</h1>
            </div>
        </div>
        <div class="row xs-vw-90">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 border border-primary-subtle">
                {{ form_errors(resetPasswordForm) }}
                {{ form_start(resetPasswordForm) }}
                <div class="my-3 d-flex justify-content-around">
                    {{ form_row(resetPasswordForm.plainPassword) }}
                </div>
                <div class="my-3 d-flex justify-content-around">
                    {{ form_row(resetPasswordForm.resetPassword) }}
                </div>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
