{% extends 'base.html.twig' %}

{% block title %}Modifie un trick{% endblock %}

{% block body %}
<div class="container py-2 my-4 text-center text-primary border border-primary">
    <div class="row">
        <div class="col">
            <div class="main-picture m-auto position-relative">
                {# display main picture if there is one #}
                {% if trick.getMainPicture() %}
                    <img src="{{ asset(trick.getMainPicture().url) }}" class="img-thumbnail h-500" alt="{{ trick.getMainPicture().name }}"/>
                <div class="action position-absolute top-0 end-0 p-1 m-3 bg-light rounded-2">
                {% else %}
                    <p class="h4 mb-4">Cette figure n'a pour le moment pas d'image principale, tu peux en ajouter une ici :</p>
                <div class="action p-1 m-3 rounded-2">
                {% endif %}
                    <a href="" class="btn btn-primary me-1"><i class="bi bi-pencil-fill" title="Modifier {{ trick.name }}"></i></a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ trick.id }}"><i class="bi bi-trash3-fill" title="Supprimer {{ trick.name }}"></i></button>
                    {# modal window to delete the trick #}
                    <div class="modal fade from-right" id="deleteModal{{ trick.id }}" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModal">Supprimer {{ trick.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Êtes-vous sûr de vouloir supprimer {{ trick.name }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
                                    <button type="button" class="btn btn-warning">Oui</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if trick.getMainPicture() %}
            <h1 class="position-relative negative m-auto p-2 bg-secondary-subtle rounded-2 w-25 opacity-75 fw-bold h3 text-primary">
                {{ trick.name }}
            </h1>
            {% endif %}
        </div>
    </div>

    <div class="container text-center text-primary bg-secondary-subtle rounded-2 pt-4">
        <div class="row">
            <h1 class="h3">Ici, tu peux modifier cette figure</h1>
            <h2 class="h5">(nom, description, catégorie, médias...)</h2>
        </div>
        <div class="row xs-vw-90 my-3">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 mb-3 border border-primary">
                {{ form_errors(editTrickForm) }}
                {{ form_start(editTrickForm) }}
                <div class="mt-3 d-flex justify-content-around">
                    {{ form_row(editTrickForm.name) }}
                </div>
                <div class="mt-3 d-flex justify-content-around">
                    {{ form_row(editTrickForm.description) }}
                </div>
                <div class="mt-3 d-flex justify-content-around">
                    {{ form_row(editTrickForm.category) }}
                </div>
                {% if app.user != trick.author %}
                <div class="mt-3 d-flex justify-content-around">
                    {{ form_row(editTrickForm.author) }}
                </div>
                {% else %}
                <div class="mt-3 d-none justify-content-around">
                    {{ form_row(editTrickForm.author) }}
                </div>
                {% endif %}
                <div class="mt-3 d-flex justify-content-around">
                    {{ form_row(editTrickForm.attachment) }}
                </div>
                <div class="my-3 ">
                    <button type="button" class="add_item_link btn btn-primary m-auto" data-collection-holder-class="videos">Ajouter une vidéo</button>
                    <ul class="videos list-videos m-auto"
                        data-index="{{ editTrickForm.video|length > trick.video|length ? editTrickForm.video|last.vars.name + 1 : trick.video|length }}"
                        data-prototype="{{ form_widget(editTrickForm.video.vars.prototype)|e('html_attr') }}"
                    >
                        {% for video in editTrickForm.video %}
                            <li>{{ form_row(video.url) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex m-auto align-items-baseline justify-content-center">
                    {{ form_end(editTrickForm) }}
                    <a href="{{ path('delete_trick', {'slug' : trick.slug}) }}" title="supprimer" class="ms-3 d-inline-block btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>

        {% if trick.getPictures is not empty or trick.getVideo is not empty %}
            <div class="row flex-wrap justify-content-center py-3">
                {% for picture in trick.getPictures %}
                <div class="detail-box my-3">
                    <img src="{{ asset(picture.url) }}" alt="{{ picture.name }}" class="detail-box-media img-thumbnail shadow rounded-2">
                    <div>
                        <a href="{{ path('edit_main_picture', {'slug': trick.slug, 'id': picture.id}) }}" class="btn btn-primary me-1"><i class="bi bi-bookmark-plus" title="Image principale de {{ trick.name }}"></i></a>
                        <a href="{{ path('delete_picture', {'slug': trick.slug, 'id': picture.id}) }}" class="btn btn-danger me-1"><i class="bi bi-trash3-fill" title="Supprimer {{ trick.name }}"></i></a>
                        <a href="{{ path('delete_picture', {'slug': trick.slug}) }}" class="btn btn-danger me-1"><i class="bi bi-trash3-fill" title="Supprimer {{ trick.name }}"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% for video in trick.getVideo %}
                    <div class="detail-box my-3">
                        {% for video in trick.getVideo %}
                            <iframe  class="detail-box-media mx-2 py-2 img-thumbnail shadow rounded-2" src="{{ video.url }}" title="Is Zeb Powell The Most Creative Snowboarder In The World?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endfor %}
{#                        <iframe src="{{ video.url }}" class="detail-box-media mx-2 py-2 img-thumbnail shadow rounded-2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>#}
{#                        <div>#}
{#                            <a href="{{ path('edit_main_picture', {'slug': trick.slug, 'id': picture.id}) }}" class="btn btn-primary me-1"><i class="bi bi-bookmark-plus" title="Image principale de {{ trick.name }}"></i></a>#}
{#                            <a href="{{ path('delete_picture', {'slug': trick.slug, 'id': picture.id}) }}" class="btn btn-danger me-1"><i class="bi bi-trash3-fill" title="Supprimer {{ trick.name }}"></i></a>#}
{#                        </div>#}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('embeded') }}
{% endblock %}
