{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container homepage_screen border border-primary">
        <div class="container-fluid text-end text-primary me-4 inside positive border border-primary bg-light-subtle">
            <a href="" class="btn btn-primary me-1"><i class="bi bi-pencil-fill" title="Modifier le trick"></i></a>
            <a href="" class="btn btn-danger"><i class="bi bi-trash3-fill" title="Supprimer le trick"></i></a>
        </div>
        <div class="mt-2">
            {% for picture in trick.pictures %}
                {% if picture.main %}
                    <img src="{{ asset(picture.url) }}" alt="{{ picture.name }}" class="homepage_img-img"/>
                {% endif %}
            {% endfor %}
        </div>
        <div class="homepage_text_img text-center text-primary m-auto w-100">
            <div class="container">
                <div class="row">
                    <div class="col-9 offset-1 col-md-6 offset-md-5">
                        {{ trick.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#    {% for picture in trick.pictures %}#}
{#        {% if picture.main %}#}
{#            <div class="m-auto mt-1 shadow border border-black">#}
{#                <img src="{{ asset(picture.url) }}" class="w-100" alt="freestyle"/>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    <div class="card-body">#}
{#        <div class="d-flex justify-content-between align-items-center card-action">#}
{#            <p class="card-title w-50"><a href="{{ trick.name }}" alt="détail de {{ trick.name }}" class="text-decoration-none nav-link">{{ trick.name }}</a></p>#}
{#            <div class="d-flex justify-content-end w-50">#}
{#                <a href="" class="btn btn-primary me-1"><i class="bi bi-pencil-fill" title="Modifier le trick"></i></a>#}
{#                <a href="" class="btn btn-danger"><i class="bi bi-trash3-fill" title="Supprimer le trick"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    </div>
{% endblock %}
