<!DOCTYPE html>
<html>
<body style="color: #002262; text-align: center; font-family: 'Century Gothic'">
<div style="background-color: #d8d6dc; width: 80%; margin: auto; padding: 10px; border-radius: 3px;">
    <img src="{{ asset('build/images/logo_entier.svg') }}" alt="SnowTricks" width="200" height="auto">
    <h1>Bonjour et bienvenue sur SnowTricks <span style="color: #EDB51A; background-color: #002262; padding: 10px; text-transform: uppercase;
        border-radius: 15px; margin-right: 5px">{{ user.username }}</span>! Valide ton compte!</h1>
    <img src="{{ asset('build/images/freestyle.jpg') }}" alt="figure freestyle" width="300" height="auto">

    <div style="border: 2px solid #002262; border-radius: 5px; margin: 15px">
        <p>Tu t'es récemment inscrit(e) sur SnowTricks, valider ton compte au plus vite te permettra :</p>
        <div style="width: 300px; margin: auto">
            <ul>
                <li>d'ajouter tes propres tricks</li>
                <li>de poster tes médias sur les tricks</li>
                <li>de commenter touts les tricks</li>
            </ul>
        </div>

        <p>
            <br> Valides ton inscription sur <span style="
            font-size: 20px; font-weight: bold"><a href="{{ absolute_url(path('homepage')) }}" style="text-decoration: none">SnowTricks</a>.</span> en cliquant sur ce bouton :
        </p>

        <p style="margin: 30px; ">
            <a href="{{ absolute_url(path('verify_user', {'tokenString': token})) }}" style="
            {#<a href="{{ absolute_url(path('verify_user', {'identifier': user.identifier, 'token': token})) }}" style="#}
                text-decoration: none; color: #EDB51A; padding: 10px; background-color: #002262; text-transform: uppercase;
                border-radius: 5px; font-size: 15px; font-weight: bold;">Valider mon compte</a>
        </p>

        <p style="font-style: italic">Ce lien a une durée de vie et expire le :
            <span style="font-size: 20px; font-weight: bold">{{ expiration_date|date('d/m/Y') }}</span>.
        </p>
        <p>A bientôt sur <span style="
            font-size: 20px; font-weight: bold"><a href="{{ absolute_url(path('homepage')) }}" style="text-decoration: none">SnowTricks</a>.</span>
        </p>
    </div>
</div>
</body>
